* {
    box-sizing: border-box;
}

html {
  background: url(intro.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    color: #f1f1f1;
    font-size: 62,5%;
}

h1 {
  font-size: 1.4em;
  line-height: 1.4em
  text-decoration: underline;
}

h2 {
  font-size: 1.1em;
  text-decoration: underline;
}

a:link {
   color: #cfbd91;
   text-decoration: none;
}
a:visited {
   color: #cfbd91;
}
a:hover {
   color: #fff;
}
a:active {
   color: #fff;
}

/* Content */

/* Grid */

.item_h { grid-area: header;}
.item_c1 { grid-area: content1; }
.item_c2 { grid-area: content2; }
/* .item_c3 { grid-area: content3; }  example*/
.item_f { grid-area: footer; }


.grid-container {
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  display: grid;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  grid-template-columns: 25% 35% 40%;
  grid-template-areas:
  'header header header'
  'content1 content2 content2'
  'footer footer footer';
}

.grid-container > div {
  padding: 10px;
}

/* Arrange grid on mobile */

@media only screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: auto;
    grid-template-areas:
    'header'
    'content1'
    'content2'
    'footer';
  }
}
