* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #444;
  font-family: "EB Garamond", serif;
  color: white;
  font-size: 20px;
  line-height: 1.5;
  word-wrap: normal;

}

h1 {
  font-size: 5em;
  line-height: 1em;
  text-decoration: none;
}

h2 {
  font-size: 2.5em;
  line-height: 1em;
  text-decoration: none;
}

h3 {
  font-size: 2em;
  line-height: 1em;
  text-decoration: none;
}

.highlight{
  color: #cfbd91;
  font-weight: bold;
}

a:link {
  color: #cfbd91;
  text-decoration: none;
}
a:visited {
  color: #cfbd91;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}

img {  
  width: 100%;
  height: auto;
}

img.logo{width: 300px;}

header {
  grid-area: header;
}
.item_c1 {
  grid-area: content1;
}
.item_c2 {
  grid-area: content2;
}

footer {
  grid-area: footer;
}

.grid-container {
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  bottom: 0;
  grid-template-areas:
    "header header header"
    "content1 content2 content2"
    "footer footer footer";
}

.grid-container-article {
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "content1 content2 content3"
}

.grid-container > div {
  margin-right: 2em;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    position: relative;
    width: 100vw;
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "content1"
      "content2"
      "footer";
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 1em;
  }
}
@media (max-height: 768px) and (orientation:landscape) {
  .grid-container{
    position: relative;
    width: 100vw;
  }
}
.animate{
  animation: fade 3s ease-in-out 1 alternate;
}
@keyframes fade {
  0%   { color:hsla(0, 0%, 100%, 0);
    text-shadow: 0 0 50px #f1f1f1;
    transform: rotateX(90deg);
    
  }
        
  100% { text-shadow: none;
    transform-style: preserve-3d; 
    }
}

@media print {
  .grid-container-article {
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "content1"
  }

}