/*Additional stylesheet for articles which overrides background image*/

body {
   background: none;
   background-color: #444;
}

/* override styles when printing */

@media print {

   body {
     margin: 0;
     color: #000;
     background-color: #fff;
   }

   a {
      color: #000;
      text-decoration: none;
    }
 
 }